@import 'nib'

$nav-height      = 60px
$sidebar-width   = 70px
$highlight-color = #6CC644
$select-width    = 220px

body, h1, h2, h3, h4, h5
    font-family: "Lato"
    color: #39424E

h1
    font-size: 2rem
    font-weight: bold

h2
    font-size: 1.8rem

h3
    font-size: 1.6rem

h4
    font-size: 1.4rem

h5
    font-size: 1.2rem

p
    font-size: 18px

a
    color: #3E96DA

.row
    max-width: 100%

.btn
    display: inline-block
    font-weight: 500
    border-radius: 4px
    padding: 10px 20px
    color: #39424E
    border: 1px solid #C2C7D0
    border-bottom-color: #B4BAC5
    user-select: none
    background: linear-gradient(top, #FFF, #F5F5F5)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2)

    &:hover
        background: linear-gradient(top, #FFF, #F0F0F0)
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 4px rgba(151, 159, 175, 0.2)
        color: inherit

    &:active
        outline: 0
        background: #F4F4F4
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05)

    &.disabled
        background: #F1F1F1
        opacity: 0.65
        box-shadow: none
        cursor: default

    &.dark
        color: #FFF
        border: 1px solid #252A32
        text-transform: uppercase
        background: linear-gradient(top, #39424E, #303741)
        box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15),0 1px 3px rgba(0, 0, 0, 0.1)
        text-shadow: 1px 1px rgba(0,0,0,0.8)

    &.main, &.green, &.success
        color: #FFF
        border-color: darken($highlight-color, 26%)
        border-bottom-color: darken($highlight-color, 30%)
        background: linear-gradient(top, $highlight-color, darken($highlight-color, 14%))
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(29, 134, 74, 0.3)
        font-weight: 700

        &:hover
            background: linear-gradient(top, $highlight-color, darken($highlight-color, 20%))
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 6px rgba(29, 134, 74, 0.4)

        &:active
            background: darken($highlight-color, 18%)
            border-color: darken(desaturate($highlight-color, 60%), 20%)
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.75)

    &.alert, &.red
        color: #f65039

        &:hover
            color: #FFF
            background: linear-gradient(top, #f65039, #f1270b)
            border-color: #c01f09

        &:active
            color: #FFF
            background: #f1270b
            border-color: #c01f09
            box-shadow: inset 0 1px 3px rgba(0,0,0,0.2)

.select
    position: relative
    
    &.expanded
        .field
            border-radius: 4px 4px 0 0

        .dropdown
            display: block

    .circle
        border-radius: 50%
        width: 10px
        height: 10px
        display: inline-block
        margin-right: 2px

    .field
        border-radius: 4px
        padding: 10px 20px 10px 10px
        font-weight: 700
        background: #FFF
        border: 1px solid #B4BAC5
        width: $select-width
        user-select: none
        cursor: pointer

        .nub
            width: 36px
            height: 100%
            position: absolute
            top: 0
            right: 0
            border-left: 1px solid #C2C7D0
            border-radius: 0 4px 4px 0
            background: gradient(linear, left bottom, left top, color-stop(0, #F5F5F5), color-stop(0.5, #FFF))
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2)
            
            &:before
                position: absolute
                top: 10px
                right: 10px

    .dropdown
        cursor: default
        display: none
        width: $select-width
        position: absolute
        top: 37px
        left: 0
        z-index: 100
        background: #FFF
        border: 1px solid #C2C7D0
        border-radius: 0 0 4px 4px
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05)
        padding: 10px 4px 4px 4px

        .search
            position: relative
            
            .icon
                position: absolute
                top: 8px
                right: 8px
                opacity: 0.4

            .input
                border: 1px solid #C2C7D0
                height: auto
                outline: 0
                margin: 0 0 4px 0
                padding-right: 24px
                
                &:focus
                    background: #FFF
                    box-shadow: 0 0 5px rgba(62, 150, 218, 0.5), inset 0 1px 2px rgba(151, 159, 175, 0.2), inset 0 1px 15px rgba(151, 159, 175, 0.05)
                    border: 1px solid rgba(62, 150, 218, 0.7)

        .options
            list-style-type: none
            margin: 0
            font-weight: normal
            overflow-x: hidden
            overflow-y: auto
            max-height: 100px

            &:hover
                .active:not(:hover)
                    color: inherit
                    background: inherit

            li
                cursor: pointer
                padding: 2px 10px
                user-select: none

                &:hover, &.active
                    color: #FFF
                    background: $highlight-color

                span
                    text-decoration: underline

.tabs
    border-bottom: 1px solid #C2C7D0
    margin: 20px 0
    padding-bottom: 10px

    li
        display: inline-block
       
        a
            padding: 10px 30px 13px
            border: 1px solid #F3F1F1
            border-bottom: 0
            color: #979FAF
            transition: 0.3s color ease
            font-weight: bold
            user-select: none

            &:not(.active):hover
                color: #32383D

            &.active
                border-color: #C2C7D0
                border-bottom-color: #FCFCFC
                color: $highlight-color
                background: #FCFCFC
                padding-bottom: 14px
                cursor: default

                &.fade
                    background: linear-gradient(top, #FCFCFC, #FFF)

            &.icon
                &:before
                    font-weight: bold
                    margin-right: 8px

.tab-content
    display: none

    &.active
        display: block

    article
        margin-top: 20px

#nav
    background: #32383D
    height: $nav-height
    border-bottom: 1px solid #28313D

    .title
        text-align: center
        color: #FFF
        font-weight: bold
        line-height: $nav-height
        font-size: 20px

    .btn
        margin: 10px 20px

#sidebar
    position: fixed
    left: 0
    top: 0
    bottom: 0
    overflow: hidden
    width: $sidebar-width
    z-index: 100
    transition: width 0.2s ease-in-out
    background: rgba(255,255,255,0.92)
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
    user-select: none
    font-weight: bold

    &:hover
        width: 260px

        .home
            width: 260px

    .home
        width: $sidebar-width
        background: #2D3237
        color: $highlight-color
        line-height: $nav-height
        display: block
        border-right: 1px solid #2D3237
        white-space: nowrap
        transition: width 0.2s ease-in-out

        &:before
            width: $sidebar-width

    ul
        list-style-type: none
        margin: 0

        li
            white-space: nowrap

            a
                padding: 10px 0
                transition: all 0.3s ease
                color: #979da2
                display: block

                &:before
                    width: $sidebar-width

                &:hover
                    color: #565A5E

#content
    padding: 20px 20px 20px ($sidebar-width + 20)

    .intro
        margin: 10px 0

#editor
    background: #FCFCFC
    border: 1px solid #C2C7D0
    border-top: 0

    .header
        padding: 10px 20px
        border-bottom: 1px solid #C2C7D0

        .btn
            &:not(:last-child)
                margin-right: 10px

            &.icon
                &:before
                    margin-right: 8px

        .select
            margin-right: 10px

        .icon.right
            display: block
            cursor: pointer
            font-size: 20px
            line-height: 38px
            color: #979FAF
            transition: 0.3s color ease
            margin: 0 6px
            user-select: none

            &:hover
                color: #39424E

    .content
        .CodeMirror-lines
            font-size: 1.2em
            line-height: 1.3em

    .footer
        border-top: 1px solid #C2C7D0
        font-family: monospace
        padding: 16px
        background: #FFF
        text-align: right

#footer
    margin-top: 20px
    border-top: 1px solid #E4E4E4
    padding: 20px 20px 20px ($sidebar-width + 20)
    text-align: center

    p
        font-size: 16px

    ul
        list-style-type: none
        margin: 0

        li
            display: inline-block

            a
                padding: 4px 6px