.icon    
    &:before
        font-family: "fontello"
        font-style: normal
        font-weight: normal
        speak: none
        display: inline-block
        text-decoration: inherit
        text-align: center
        font-variant: normal
        text-transform: none
        width: 1em
        line-height: 1em
        
    &.help
        &:before
            content: '\e802'
    
    &.chat
        &:before
            content: '\e803'
    
    &.lock-open
        &:before
            content: '\e80c'
    
    &.code
        &:before
            content: '\e801'
    
    &.comment
        &:before
            content: '\e80a'
    
    &.down-dir
        &:before
            content: '\e80d'
    
    &.desktop
        &:before
            content: '\e805'
    
    &.lock
        &:before
            content: '\e80b'
    
    &.book
        &:before
            content: '\e807'
    
    &.rocket
        &:before
            content: '\e808'
    
    &.terminal
        &:before
            content: '\e809'
    
    &.keyboard
        &:before
            content: '\e804'
    
    &.clipboard
        &:before
            content: '\e800'
    
    &.inbox
        &:before
            content: '\e806'

    &.up-dir
        &:before
            content: '\e80e'

    &.search
        &:before
            content: '\e80f'

    &.cog
        &:before
            content: '\e810'

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg) }
    to { -moz-transform: rotate(360deg) }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}
@keyframes spin {
    from { transform:rotate(0deg) }
    to { transform:rotate(360deg) }
}