body,h1,h2,h3,h4,h5{font-family:"Lato";color:#39424e}
h1{font-size:2rem;font-weight:bold}
h2{font-size:1.8rem}
h3{font-size:1.6rem}
h4{font-size:1.4rem}
h5{font-size:1.2rem}
p{font-size:18px}
a{color:#3e96da}
.row{max-width:100%}
.btn{display:inline-block;font-weight:500;-webkit-border-radius:4px;border-radius:4px;padding:10px 20px;color:#39424e;border:1px solid #c2c7d0;border-bottom-color:#b4bac5;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:-webkit-linear-gradient(top, #fff, #f5f5f5);background:-moz-linear-gradient(top, #fff, #f5f5f5);background:-o-linear-gradient(top, #fff, #f5f5f5);background:-ms-linear-gradient(top, #fff, #f5f5f5);background:linear-gradient(to bottom, #fff, #f5f5f5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.08),inset 0 -1px 4px rgba(151,159,175,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.08),inset 0 -1px 4px rgba(151,159,175,0.2);}
.btn:hover{background:-webkit-linear-gradient(top, #fff, #f0f0f0);background:-moz-linear-gradient(top, #fff, #f0f0f0);background:-o-linear-gradient(top, #fff, #f0f0f0);background:-ms-linear-gradient(top, #fff, #f0f0f0);background:linear-gradient(to bottom, #fff, #f0f0f0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1),inset 0 -1px 4px rgba(151,159,175,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.1),inset 0 -1px 4px rgba(151,159,175,0.2);color:inherit}
.btn:active{outline:0;background:#f4f4f4;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05);box-shadow:inset 0 1px 3px rgba(0,0,0,0.05)}
.btn.disabled{background:#f1f1f1;opacity:.65;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;cursor:default}
.btn.dark{color:#fff;border:1px solid #252a32;text-transform:uppercase;background:-webkit-linear-gradient(top, #39424e, #303741);background:-moz-linear-gradient(top, #39424e, #303741);background:-o-linear-gradient(top, #39424e, #303741);background:-ms-linear-gradient(top, #39424e, #303741);background:linear-gradient(to bottom, #39424e, #303741);-webkit-box-shadow:inset 0 1px 2px rgba(255,255,255,0.15),0 1px 3px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(255,255,255,0.15),0 1px 3px rgba(0,0,0,0.1);text-shadow:1px 1px rgba(0,0,0,0.8)}
.btn.main,.btn.green,.btn.success{color:#fff;border-color:#089243;border-bottom-color:#008233;background:-webkit-linear-gradient(top, #2bc56d, #25a95e);background:-moz-linear-gradient(top, #2bc56d, #25a95e);background:-o-linear-gradient(top, #2bc56d, #25a95e);background:-ms-linear-gradient(top, #2bc56d, #25a95e);background:linear-gradient(to bottom, #2bc56d, #25a95e);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2),inset 0 1px 1px rgba(255,255,255,0.1),inset 0 -1px 4px rgba(29,134,74,0.3);box-shadow:0 1px 3px rgba(0,0,0,0.2),inset 0 1px 1px rgba(255,255,255,0.1),inset 0 -1px 4px rgba(29,134,74,0.3);font-weight:700;}
.btn.main:hover,.btn.green:hover,.btn.success:hover{background:-webkit-linear-gradient(top, #2bc56d, #229e57);background:-moz-linear-gradient(top, #2bc56d, #229e57);background:-o-linear-gradient(top, #2bc56d, #229e57);background:-ms-linear-gradient(top, #2bc56d, #229e57);background:linear-gradient(to bottom, #2bc56d, #229e57);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3),inset 0 1px 1px rgba(255,255,255,0.1),inset 0 -1px 6px rgba(29,134,74,0.4);box-shadow:0 1px 3px rgba(0,0,0,0.3),inset 0 1px 1px rgba(255,255,255,0.1),inset 0 -1px 6px rgba(29,134,74,0.4)}
.btn.main:active,.btn.green:active,.btn.success:active{background:#23a259;border-color:#548700;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 2px rgba(255,255,255,0.75);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 2px rgba(255,255,255,0.75)}
.btn.alert,.btn.red{color:#f65039;}
.btn.alert:hover,.btn.red:hover{color:#fff;background:-webkit-linear-gradient(top, #f65039, #f1270b);background:-moz-linear-gradient(top, #f65039, #f1270b);background:-o-linear-gradient(top, #f65039, #f1270b);background:-ms-linear-gradient(top, #f65039, #f1270b);background:linear-gradient(to bottom, #f65039, #f1270b);border-color:#c01f09}
.btn.alert:active,.btn.red:active{color:#fff;background:#f1270b;border-color:#c01f09;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);box-shadow:inset 0 1px 3px rgba(0,0,0,0.2)}
.select{position:relative;}
.select.expanded .field{-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.select.expanded .dropdown{display:block}
.select .field{-webkit-border-radius:4px;border-radius:4px;padding:10px 20px 10px 10px;font-weight:700;background:#fff;border:1px solid #b4bac5;width:220px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;}
.select .field .nub{width:36px;height:100%;position:absolute;top:0;right:0;border-left:1px solid #c2c7d0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;background:gradient(linear,left bottom,left top,color-stop(0,#f5f5f5),color-stop(.5,#fff));-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.08),inset 0 -1px 4px rgba(151,159,175,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.08),inset 0 -1px 4px rgba(151,159,175,0.2);}
.select .field .nub:before{position:absolute;top:10px;right:10px}
.select .dropdown{cursor:default;display:none;width:220px;position:absolute;top:37px;left:0;z-index:100;background:#fff;border:1px solid #c2c7d0;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.05);box-shadow:0 1px 3px rgba(0,0,0,0.05);padding:10px 4px 4px 4px;}
.select .dropdown .search{position:relative;}
.select .dropdown .search .icon{position:absolute;top:8px;right:8px;opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
.select .dropdown .search .input{border:1px solid #c2c7d0;height:auto;outline:0;margin:0 0 4px 0;padding-right:24px;}
.select .dropdown .search .input:focus{background:#fff;-webkit-box-shadow:0 0 5px rgba(62,150,218,0.5),inset 0 1px 2px rgba(151,159,175,0.2),inset 0 1px 15px rgba(151,159,175,0.05);box-shadow:0 0 5px rgba(62,150,218,0.5),inset 0 1px 2px rgba(151,159,175,0.2),inset 0 1px 15px rgba(151,159,175,0.05);border:1px solid rgba(62,150,218,0.7)}
.select .dropdown .options{list-style-type:none;margin:0;font-weight:normal;overflow-x:hidden;overflow-y:auto;max-height:100px;}
.select .dropdown .options:hover .active:not(:hover){color:inherit;background:inherit}
.select .dropdown .options li{cursor:pointer;padding:2px 10px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.select .dropdown .options li:hover,.select .dropdown .options li.active{color:#fff;background:#2bc56d}
.select .dropdown .options li span{text-decoration:underline}
.tabs{border-bottom:1px solid #c2c7d0;margin:20px 0;padding-bottom:10px;}
.tabs li{display:inline-block;}
.tabs li.active a{border-color:#c2c7d0;border-bottom-color:#fcfcfc;color:#2bc56d;background:#fcfcfc;padding-bottom:21px}
.tabs li a{padding:10px 30px 13px;border:1px solid #f3f1f1;border-bottom:0;color:#979faf;-webkit-transition:0.3s color ease;-moz-transition:0.3s color ease;-o-transition:0.3s color ease;-ms-transition:0.3s color ease;transition:0.3s color ease;font-weight:bold;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tabs li a.icon:before{font-weight:bold;margin-right:8px}
.tabs li a:hover{color:#32383d}
#nav{background:#32383d;height:60px;border-bottom:1px solid #28313d;}
#nav .title{text-align:center;color:#fff;font-weight:bold;line-height:60px;font-size:20px}
#nav .btn{margin:10px 20px}
#sidebar{position:fixed;left:0;top:0;bottom:0;overflow:hidden;width:70px;z-index:100;-webkit-transition:width 0.2s ease-in-out;-moz-transition:width 0.2s ease-in-out;-o-transition:width 0.2s ease-in-out;-ms-transition:width 0.2s ease-in-out;transition:width 0.2s ease-in-out;background:rgba(255,255,255,0.92);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.2);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:bold;}
#sidebar:hover{width:260px;}
#sidebar:hover .home{width:260px}
#sidebar .home{width:70px;background:#2d3237;color:#2bc56d;line-height:60px;display:block;border-right:1px solid #2d3237;white-space:nowrap;-webkit-transition:width 0.2s ease-in-out;-moz-transition:width 0.2s ease-in-out;-o-transition:width 0.2s ease-in-out;-ms-transition:width 0.2s ease-in-out;transition:width 0.2s ease-in-out;}
#sidebar .home:before{width:70px}
#sidebar ul{list-style-type:none;margin:0;}
#sidebar ul li{white-space:nowrap;}
#sidebar ul li a{padding:10px 0;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;transition:all 0.3s ease;color:#979da2;display:block;}
#sidebar ul li a:before{width:70px}
#sidebar ul li a:hover{color:#565a5e}
#content{padding:20px 20px 20px 90px;}
#content .intro{margin:10px 0}
#editor{background:#fcfcfc;border:1px solid #c2c7d0;border-top:0;}
#editor .header{padding:10px 20px;border-bottom:1px solid #c2c7d0;}
#editor .header .btn:not(:last-child){margin-right:10px}
#editor .header .btn.icon:before{margin-right:8px}
#editor .header .select{margin-right:10px}
#editor .header .icon.right{display:block;cursor:pointer;font-size:20px;line-height:38px;color:#979faf;-webkit-transition:0.3s color ease;-moz-transition:0.3s color ease;-o-transition:0.3s color ease;-ms-transition:0.3s color ease;transition:0.3s color ease;margin:0 6px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#editor .header .icon.right:hover{color:#39424e}
#editor .content .CodeMirror-lines{font-size:1.2em;line-height:1.3em}
#editor .footer{border-top:1px solid #c2c7d0;font-family:monospace;padding:16px;background:#fff;text-align:right}
#footer{margin-top:20px;border-top:1px solid #e4e4e4;padding:20px 20px 20px 90px;text-align:center;}
#footer p{font-size:16px}
#footer ul{list-style-type:none;margin:0;}
#footer ul li{display:inline-block;}
#footer ul li a{padding:4px 6px}

.cm-s-github span.cm-keyword{font-weight:bold;color:#333}
.cm-s-github span.cm-atom{color:#990073}
.cm-s-github span.cm-number{color:#164}
.cm-s-github span.cm-def{font-weight:bold;color:#900}
.cm-s-github span.cm-variable{color:#333}
.cm-s-github span.cm-variable-2{color:#008080}
.cm-s-github span.cm-variable-3{color:#008080}
.cm-s-github span.cm-comment{color:#998;font-style:italic}
.cm-s-github span.cm-string{color:#d14}
.cm-s-github span.cm-meta{color:#ff0}
.cm-s-github span.cm-qualifier{color:#808080}
.cm-s-github span.cm-builtin{color:#7ea656}
.cm-s-github span.cm-bracket{color:#cc7}
.cm-s-github span.cm-tag{font-weight:bold;color:#458}
.cm-s-github span.cm-attribute{color:#7f007f}
.cm-s-github span.cm-error{color:#f00}
.cm-s-github .CodeMirror-activeline-background{background:#e8f2ff !important}
.cm-s-github .CodeMirror-matchingbracket{outline:1px solid #808080;color:#000 !important;background:#ff0}
.cm-s-github .CodeMirror-gutters{background:#fff}
.cm-s-github .CodeMirror-linenumber{color:rgba(0,0,0,0.3)}
.cm-s-github .CodeMirror-selected{background:#ffc}

.icon:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;text-align:center;font-variant:normal;text-transform:none;width:1em;line-height:1em}
.icon.help:before{content:'\e802'}
.icon.chat:before{content:'\e803'}
.icon.lock-open:before{content:'\e80c'}
.icon.code:before{content:'\e801'}
.icon.comment:before{content:'\e80a'}
.icon.down-dir:before{content:'\e80d'}
.icon.desktop:before{content:'\e805'}
.icon.lock:before{content:'\e80b'}
.icon.book:before{content:'\e807'}
.icon.rocket:before{content:'\e808'}
.icon.terminal:before{content:'\e809'}
.icon.keyboard:before{content:'\e804'}
.icon.clipboard:before{content:'\e800'}
.icon.inbox:before{content:'\e806'}
.icon.up-dir:before{content:'\e80e'}
.icon.search:before{content:'\e80f'}
.icon.cog:before{content:'\e810'}
@-moz-keyframes spin{0%{-moz-transform:rotate(0)}
100%{-moz-transform:rotate(360deg)}
}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@-moz-keyframes spin{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}@-webkit-keyframes spin{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}@-o-keyframes spin{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}@-ms-keyframes spin{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}@keyframes spin{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}