{{ #if languages.length }}
    <div class="select {{ #if expanded.value }}expanded{{ /if }}">
        <div class="field">
            <span class="circle" style="background:{{ current.color }}"></span>

            {{ current.label }}

            {{ #if expanded.value }}
                <div class="icon nub up-dir"></div>
            {{ else }}
                <div class="icon nub down-dir"></div>
            {{ /if }}
        </div>
        <div class="dropdown">
            <div class="search">
                <span class="icon search"></span>
                <input class="input" type="text" autocomplete="off" spellcheck="off" value="{{ query.value }}" />
            </div>
            <ul class="options">
                {{ #languages }}
                    {{ #if show }}
                    <li can-click="select" {{ #if active }}class="active"{{ /if }}>
                        <span class="circle" style="background:{{ color }}"></span>
                        {{{ display label }}}
                    </li>
                    {{ /if }}
                {{ /languages }}
            </ul>
        </div>
    </div>
{{ /if }}