<div class="row">
    <div class="small-12 columns">
        <ul class="tabs">
            <li><a data-tab="editor" class="icon code active">Editor</a></li>
            <li><a data-tab="results" class="icon terminal fade">Results</a></li>
            <li><a data-tab="discussion" class="icon comment fade">Discussion</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div  data-tab="editor" class="tab-content active">
            <app-editor></app-editor>
        </div>
        <div data-tab="results" class="tab-content">
            <article>
                <h2>Results of running a script</h2>
            </article>
        </div>
        <div data-tab="discussion" class="tab-content">
            <article>
                <h2>Not implemented yet</h2>

                <p>This place could contain people's comments on public scripts.</p>
            </article>
        </div>
    </div>
</div>