<div class="row">
    <div class="small-12 columns">
        <ul class="tabs">
            {{ #each tabs }}
            <li><a can-click="switch" class="{{ classes }} {{ #isActive @index }}active{{ /isActive }}">{{ label }}</a></li>
            {{ /each }}
        </ul>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="tab-content {{ #isActive 0 }}active{{ /isActive }}">
            <app-editor></app-editor>
        </div>
        <div class="tab-content {{ #isActive 1 }}active{{ /isActive }}">
            <article>
                <h2>Results of running a script</h2>
            </article>
        </div>
        <div class="tab-content {{ #isActive 2 }}active{{ /isActive }}">
            <article>
                <h2>Not implemented yet</h2>

                <p>This place could contain people's comments on public scripts.</p>
            </article>
        </div>
    </div>
</div>