<div id="editor">
    <div class="header collapse row">
        <div class="small-12 large-6 columns">
            <a class="btn main icon rocket">Run</a>
            <a class="btn secondary disabled">Save</a>
        </div>
        <div class="small-12 large-6 columns">
            <span class="icon lock right"></span>
            <span class="icon cog right"></span>
            <app-select class="right"></app-select>
        </div>
    </div>
    <div class="collapse row">
        <div class="small-12 columns">
            <div class="content"></div>
        </div>
    </div>
    <div class="collapse row">
        <div class="small-12 columns">
            <div class="footer">
                Line: {{ cursor.line }} Col: {{ cursor.ch }}
            </div>
        </div>
    </div>
</div>