<div id="nav" class="row collapse">
    <div class="small-12 large-8 push-2 columns title">
        InterMine Runnable
    </div>
    <div class="small-12 large-2 columns">
        <a class="btn dark right">Log in</a>
    </div>
</div>

<div id="sidebar">
    <a class="home icon rocket" href="/">Home</a>

    <ul>
        <li><a class="icon code">New Script</a></li>
        <li><a class="icon clipboard">Browse Scripts</a></li>
        <li><a class="icon book">API Documentation</a></li>
        <li><a class="icon help">Help</a></li>
    </ul>
</div>

<div id="content">
    <div class="row">
        <div class="intro small-12 columns">
            <h1>Search a mine by keyword</h1>
            <p>Developed by the Micklem lab at the University of Cambridge, InterMine
                enables the creation of biological databases accessed by sophisticated
                web query tools. Parsers are provided for integrating data from many
                common biological data sources and formats, and there is a framework
                for adding your own data.</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="tabs">
                <li class="active"><a class="icon code">Editor</a></li>
                <li><a class="icon terminal">Results</a></li>
                <li><a class="icon comment">Discussion</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <app-editor></app-editor>
        </div>
    </div>
</div>

<div id="footer">
    <div class="row">
        <div class="small-12 columns">
            <p>This is a beta version.</p>
            <ul>
                <li><a href="#">Browse Scripts</a></li>
                <li><a href="#">API Documentation</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</div>