<div id="nav" class="row">
    <div class="small-12 large-3 columns">
        Logo
    </div>
    <div class="small-12 large-9 columns">
        Account
    </div>
</div>

<div class="row">
    <div id="editor" class="small-12 large-6 columns">
        <div class="row">
            <div class="menu small-12 columns">
                Editor Menu
            </div>
        </div class="row">
        <div class="row">
            <div class="input small-12 columns">
                
            </div>
        </div class="row">
    </div>
    <div id="results" class="small-12 large-6 columns">
        <div class="row">
            <div class="small-12 columns">
                Results Menu
            </div>
        </div class="row">
        <div class="row">
            <div class="small-12 columns">
                Results
            </div>
        </div class="row">
    </div>
</div>

<div id="footer" class="row">
    <div class="small-12 columns">
        Footer
    </div>
</div>