<div id="nav">
    <ul>
        <li><a href="#">Public scripts</a></li>
        <li><a href="#">API Documentation</a></li>
        <li><a href="#" class="icon user">Login</a></li>
    </ul>

    <a class="logo" href="/">InterMine Runnable</a>
</div>

<div id="toolbar">
    <div class="left">
        <div class="toolbar">
            <div class="actions">
                <button disabled="disabled" class="secondary">Save</button>
                <button class="main">Run</button>
            </div>

            <h2 class="icon code">Editor</h2>
        </div>
    </div>
    <div class="right">
        <div class="toolbar">
            <h2 class="icon eye">Results</h2>
        </div>
    </div>
</div>
<div id="panes">
    <div id="editor" class="left"></div>
    <div class="right">
        <div id="results">
            <p>The results of your script will show up here.</p>
        </div>
    </div>
</div>