<div class="select {{ #if expanded.value }}expanded{{ /if }}">
    <div class="field">
        <span>{{ #languages }}{{ #if active }}{{ label }}{{ /if }}{{ /languages }}</span>
        {{ #if expanded.value }}
            <div class="icon up-dir"></div>
        {{ else }}
            <div class="icon down-dir"></div>
        {{ /if }}
    </div>
    <div class="dropdown">
        <div class="search">
            <span class="icon search"></span>
            <input class="input" type="text" autocomplete="off" spellcheck="off" value="{{ query.value }}" />
        </div>
        <ul class="options">
            {{ #languages }}
                {{ #if show }}
                <li can-click="select" {{ #if active }}class="active"{{ /if }}>{{{ display label }}}</li>
                {{ /if }}
            {{ /languages }}
        </ul>
    </div>
</div>