<div class="select">
    <div class="field">
        <span>JavaScript (Node.js)</span>
        <div class="icon down-dir"></div>
    </div>
    <div class="dropdown">
        <div class="search">
            <span class="icon search"></span>
            <input class="input" type="text" autocomplete="off" spellcheck="off" />
        </div>
        <ul class="options">
            <li>Java</li>
            <li class="active">JavaScript (Node.js)</li>
            <li>Perl</li>
            <li>Python</li>
            <li>Ruby</li>
        </ul>
    </div>
</div>