@import 'nib'

$nav-height      = 60px
$sidebar-width   = 70px
$highlight-color = #2BC56D
$select-width    = 220px

body, h1, h2, h3, h4, h5
    font-family: "Lato"
    color: #39424E

h1
    font-size: 2rem
    font-weight: bold

h2
    font-size: 1.8rem

h3
    font-size: 1.6rem

h4
    font-size: 1.4rem

h5
    font-size: 1.2rem

p
    font-size: 18px

a
    color: #3E96DA

.row
    max-width: 100%

.btn
    display: inline-block
    font-weight: 500
    border-radius: 4px
    padding: 10px 20px
    color: #39424E
    border: 1px solid #C2C7D0
    border-bottom-color: #B4BAC5
    user-select: none
    background-image: linear-gradient(top, #FFF, #F5F5F5)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2)

    &:hover
        background-image: linear-gradient(top, #FFF, #F0F0F0)
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 4px rgba(151, 159, 175, 0.2)
        color: inherit

    &:active
        outline: 0
        background: #F4F4F4
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05)

    &.disabled
        background: #F1F1F1
        opacity: 0.65
        box-shadow: none
        cursor: default

    &.dark
        color: #FFF
        border: 1px solid #252A32
        text-transform: uppercase
        background-image: linear-gradient(top, #39424E, #303741)
        box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15),0 1px 3px rgba(0, 0, 0, 0.1)
        text-shadow: 1px 1px rgba(0,0,0,0.8)

    &.main
        color: #FFF
        border-color: #089243
        border-bottom-color: #008233
        background: #2BC56D
        background-image: linear-gradient(top, #2BC56D, #26B061)
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(29, 134, 74, 0.3)
        font-weight: 700

        &:hover
            background-color: #26AC5F
            background-image: linear-gradient(top, #2BC56D, #26AC5F)
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 6px rgba(29, 134, 74, 0.4)

        &:active
            background: #1AB45C
            border-color: #548700
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.75)

.select
    padding: 10px 20px 10px 10px
    font-weight: 700
    background: #FFF
    border-radius: 4px
    border: 1px solid #B4BAC5
    width: $select-width
    position: relative
    user-select: none
    cursor: pointer

    &.expanded
        border-radius: 4px 4px 0 0

    .field
        .icon
            width: 36px
            height: 100%
            position: absolute
            top: 0
            right: 0
            border-left: 1px solid #C2C7D0
            border-radius: 0 4px 4px 0
            background: rgba(0, 0, 0, 0)
            background-image: gradient(linear, left bottom, left top, color-stop(0, #F5F5F5), color-stop(0.5, #FFF))
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2)
            
            &:before
                position: absolute
                top: 10px
                right: 2px

    .dropdown
        cursor: default
        display: none
        width: $select-width
        position: absolute
        top: 36px
        left: -1px
        z-index: 100
        background: #FFF
        border: 1px solid #C2C7D0
        border-radius: 0 0 4px 4px
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05)
        padding: 10px 4px 4px 4px

        .search
            position: relative
            
            .icon
                position: absolute
                top: 8px
                right: 0
                opacity: 0.4

            .input
                border: 1px solid #C2C7D0
                height: auto
                outline: 0
                margin: 0 0 4px 0
                padding-right: 24px
                
                &:focus
                    background: #FFF
                    box-shadow: 0 0 5px rgba(62, 150, 218, 0.5), inset 0 1px 2px rgba(151, 159, 175, 0.2), inset 0 1px 15px rgba(151, 159, 175, 0.05)
                    border: 1px solid rgba(62, 150, 218, 0.7)

        .options
            list-style-type: none
            margin: 0
            font-weight: normal
            overflow-x: hidden
            overflow-y: auto
            max-height: 100px

            li
                cursor: pointer
                padding: 2px 10px

                &:hover, &.active
                    color: #FFF
                    background: $highlight-color

.tabs
    background: #F8F8F8
    border: 1px solid #C2C7D0
    margin: 20px 0
    padding: 20px 20px 18px 20px

    li
        display: inline-block

        &.active
            a
                border-color: #C2C7D0
                border-bottom-color: #F8F8F8
                color: #39424E
                background: #FFF
                background-image: linear-gradient(top, #FFF 70%, #F8F8F8)
                padding-bottom: 21px
        
        a
            padding: 10px 30px 20px
            border: 1px solid #F8F8F8
            color: #979FAF
            transition: 0.3s color ease
            font-weight: bold

            &.icon
                &:before
                    font-weight: bold
                    margin-right: 8px

            &:hover
                color: #39424E

#nav
    background: #39424E
    height: $nav-height
    border-bottom: 1px solid #28313D
    z-index: 101
    position: absolute
    top: 0

    .logo
        margin-left: 10px
        font-size: 18px
        color: #FFF
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
        font-weight: bold
        line-height: $nav-height

        .icon
            margin-right: 6px

        span
            color: #2BC56D

    .btn
        margin: 10px 0

#sidebar
    position: fixed
    left: 0
    top: 0
    bottom: 0
    overflow: hidden
    width: $sidebar-width
    z-index: 100
    transition: width 0.2s ease
    background: #2E363F
    border-right: 1px solid #17202C

    &:hover
        width: 260px
        box-shadow: 1px 0 5px rgba(23, 32, 44, 0.4)

    ul
        list-style-type: none
        padding-top: 10px
        margin: $nav-height 0 0 0

        li
            white-space: nowrap

            a
                padding: 10px 0
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
                transition: all 0.3s ease
                color: #FFF
                display: block

                &:before
                    width: $sidebar-width
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)

                &:hover
                    background: #232931

                    &:before
                        color: #2BC56D

#content
    padding: ($nav-height + 20) 20px 20px ($sidebar-width + 20)

#editor
    background: #F8F8F8
    border: 1px solid #C2C7D0
    border-top: 0

    .header
        padding: 10px 20px
        border-bottom: 1px solid #C2C7D0

        .btn
            &:not(:last-child)
                margin-right: 10px

        .icon
            &:before
                margin-right: 8px

        .select
            float: right

    .content
        .CodeMirror-lines
            font-size: 1.2em
            line-height: 1.3em

    .footer
        border-top: 1px solid #C2C7D0
        font-family: monospace
        padding: 16px
        background: #FFF
        text-align: right

#footer
    margin-top: 20px
    border-top: 1px solid #E4E4E4
    padding: 20px 20px 20px ($sidebar-width + 20)
    text-align: center

    p
        font-size: 16px

    ul
        list-style-type: none
        margin: 0

        li
            display: inline-block

            a
                padding: 4px 6px