.cm-s-github
    span
        &.cm-keyword
            font-weight bold
            color #333
        &.cm-atom
            color #990073
        &.cm-number
            color #164
        &.cm-def
            font-weight bold
            color #900
        &.cm-variable
            color #333
        &.cm-variable-2
            color #008080
        &.cm-variable-3
            color #008080
        &.cm-comment
            color #998
            font-style italic
        &.cm-string
            color #D14
        &.cm-meta
            color yellow
        &.cm-qualifier
            color grey
        &.cm-builtin
            color #7EA656
        &.cm-bracket
            color #cc7
        &.cm-tag
            font-weight bold
            color #458
        &.cm-attribute
            color #7F007F
        &.cm-error
            color #f00
    
    .CodeMirror-activeline-background
        background #e8f2ff !important
    
    .CodeMirror-matchingbracket
        outline 1px solid grey
        color #000 !important
        background yellow

    .CodeMirror-gutters
        background: #FFF

    .CodeMirror-linenumber
        color rgba(0, 0, 0, 0.3)

    .CodeMirror-selected
        background rgb(255, 255, 204)