.icon    
    &:before
        font-family: "fontello"
        font-style: normal
        font-weight: normal
        speak: none
        display: inline-block
        text-decoration: inherit
        text-align: center
        font-variant: normal
        text-transform: none
        width: 1em
        line-height: 1em
        
    &.code
        &:before
            content: '\e800'
    
    &.eye
        &:before
            content: '\e801'
    
    &.download
        &:before
            content: '\e802'

    &.user
        &:before
            content: '\e803'